.editor {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 24px 24px 0 24px;
    height         : 100%;
}

.editorLeft {
    width : 45%;
    height: 100%;
}

.editorMiddle {
    width          : 10%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

}

.editorRight {
    width : 45%;
    height: 100%;
}

.centerSecondBtn {
    margin-top: 16px;
}

.iconArrows {
    font-size: 30px;
    color    : #1296db;
}